table {
	border: 1px solid black;
	position: fixed;
	margin-left: -150px;
	margin-right: -150px;
	top: 15%;
	left: 50%;
	width: 300px;
	height: 300px;
}

#location {
	position: fixed;
	margin-left: -150px;
	margin-right: -150px;
	top: 60%;
	left: 50%;
}

h1 {
	text-align: center;
}